p {
    color: red !important;
}
p{
    color:green ;
}
#primulp{
    color: antiquewhite;
}

.primaclasa{
    color: aqua;
    font-size: 15px;
}
.clasaadoua{
    color: beige;
    font-size: 10px;
}